.App {
  font-family: sans-serif;
  text-align: center;
}

.add_new_button {
  color: #222;
  padding: 10px;
}

.fieldset_verygood {
  margin: "8px";
  padding: "8px";
  border: "1px solid #ccc";
}

.remove_button {
  background-color: brown;
  color: #fff;
  padding: 4px 12px;
}
